In [31]:
## Declayring and Assiging Variables
age = 19
height = 176.5
name = "Archisman Pal"
is_student = True

## Printing Variables
print("Name:", name)    
print("Age:", age)
print("Height:", height)
print("Is Student:", is_student)

Name: Archisman Pal
Age: 19
Height: 176.5
Is Student: True

In [15]:
age = 19
print(type(age))

#Type Conversion
age_str = str(age)
print(type(age_str))

eyes='2' # Character 
print(type(int(eyes)))

<class 'int'>
<class 'str'>
<class 'int'>

In [ ]:
#Dynamic Typing
var = 10
print(var,type(var))

var = "Hello"
print(var,type(var))

var = 15.5
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
15.5 <class 'float'>

In [ ]:
##Input
age = input("Enter your age: ")
print("age:", age, type(age))

age: 19 <class 'str'>

In [ ]:
#Simple Calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 11.0
Difference: -1.0
Product: 30.0
Quotient: 0.8333333333333334

In [44]:
# DATA TYPES IN PYTHON

# Int
age = 19
print(type(age))

# Float
height = 176.5
print(type(height))

# String
name = "Archisman Pal"
print(type(name))

# Boolean
is_type = True
print(type(is_type))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [1]:
# Operators
a=19
b=16

add=a+b
sub=a-b
mil=a*b
div=a/b
floor_div=a//b
mod=a%b
exp=a**b

print(add, sub, mil, div, floor_div, mod, exp, sep="\n")

35
3
304
1.1875
1
3
288441413567621167681

In [ ]:
##Nested Conditional Statements 
num = int(input("Enter a number: "))
if num >= 0:
    print("The number is positive.")
    if num%2 == 0:
        print("The number is even.")
    else:
        print("The number is odd.")
else:
    print("The number is negative.")

The number is positive.
The number is even.

In [14]:
##Nested If 
year=int(input("Enter a year: "))
if (year % 4) == 0: 
    if (year % 100) == 0: 
        if (year % 400) == 0: 
            print(year,"is a leap year")
        else: 
            print(year,"is not a leap year")
    else: 
        print(year,"is a leap year")
else: 
    print(year,"is not a leap year")

6968 is a leap year

In [4]:
##Simple Calculator
num1= float(input("Enter first number: "))
num2= float(input("Enter second number: "))
operation = input("Enter operation (+, -, *, /): ")

#performing calculations based on the operation
if operation == '+':
    result = num1 + num2
elif operation == '-':
    result = num1 - num2
elif operation == '*':  
    result = num1 * num2
elif operation == '/':
    if num2 != 0:
        result = num1 / num2
    else:
        print("Error: Division by zero is not allowed.") 
else:
    print("Result:", result)

In [9]:
#Range
range(0, 5)

#Loops
for i in range(5):
    print(i)
#

0
1
2
3
4

In [10]:
for j in range(1, 7):
    print(j)

1
2
3
4
5
6

In [2]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [4]:
str="Archis"
for i in str:
    print(i)

A
r
c
h
i
s

In [5]:
##While Loop
##Loop continues as long as condition is true

count=0
while count < 5:
    print("Count:", count)
    count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4